[Desktop Entry]
Name=Package installer
Name[ca_ES.UTF-8@valencia]=Instal·la paquets
Name[ca_ES@valencia]=Instal·la paquets
Name[ca]=Instal·la paquets
Name[ca_ES]=Instal·la paquets
Name[es]=Instala paquetes
Comment=Package installer
Exec=sh -c "pkexec /usr/bin/epi-package-installer.py %U"
Terminal=false
MimeType=application/vnd.debian.binary-package;
Type=Application
Icon=application-easy-package-installer.svg
NoDisplay=true
Comment=
Categories=
